# Flask Configuration
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here

# Database Configuration
DATABASE_URL=mysql+pymysql://root:#07silvia,njeri@localhost:3306/le_concierge

# PayPal Configuration
PAYPAL_CLIENT_ID=Ae4Ffb7ogDVVb4ZbVpouoCPOB5-jZ0QU0ODza3poXpNqIpkcCoV78lI6MHvYDNDXpGyL9hnTZSkmsDyY
PAYPAL_CLIENT_SECRET=EOkYbxsoOHRkqTsJEmN8ZyU3_JBGYx-41vOxYdCYH4e-ksXDl-uRcL-fSLGY0cxWRgO4BeNfUSXLhyzK
PAYPAL_ENVIRONMENT=live  # Change to 'sandbox' for testing

# CORS Configuration (for frontend)
FRONTEND_URL=http://localhost:3000 